<div class="jumbotron">
	<h1>About Us</h1>
	<div class="row">
		<div class="col-md-8">	
		<p> Medici Graphics provides an extensive range of clinical and creative services to produce health communications for St Vincents Health Australia and the wider health community.</p>
		<p>With design, photography, media production, and web development services in-house, our team brings experience in healthcare and understands both the needs of the health professional, and the health consumer audience.</p>
		<p>Our Manager, Julie Murray is committed to providing a cost-effective and creative service to you. If you have any feedback please let Julie know on 8382 2164 or email jmurray@medicigraphics.com.au</p>
		<p>Medici Graphics is located on 230 Barcom Ave, Dalinghurst whilst our photography sudio is located on the ground floor in the Cahill Building</p>
 	 	</div>
		<div class="col-md-4">
			<h2 >Who are we anyway?</h2>
			<h5><strong>MEET THE TEAM WHO BUILD THE SUCCESS</strong></h5>
			<small><p>A team of 7 members department is run by Ms. Julie Murray.</p><p> Our services are delivered by out team with years of experiences.</p></small>
			<img src="http://lorempixel.com/150/150/business" /" alt="..." class="img-circle">
			<blockquote class="pull-right">

			<p><strong> Julie Murray</strong></p>
			<p><em>FRCS, FBPA, FAIMBI</em></p>
			</blockquote>


			
		</div>

	</div>
	
</div>
