<div class="jumbotron">
	<h1>Portfolio</h1>
	<div class="row">
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/abstract" class="img-responsive" alt="Responsive image">
			<p>Abstract</p>
		</div>
		
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/city" class="img-responsive" alt="Responsive image">
		  	<p>City</p>
		</div>
		  		
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/people" class="img-responsive" alt="Responsive image">
		  	<p>People</p>
		</div>	  	
	</div>

	<div class="row">
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/transport" class="img-responsive" alt="Responsive image">
			<p>Transport</p>
		</div>
		
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/animals" class="img-responsive" alt="Responsive image">
		  	<p>Animals</p>
		</div>
		  		
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/food" class="img-responsive" alt="Responsive image">
		  	<p>Food</p>
		</div>	  	
	</div>

	<div class="row">
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/nature" class="img-responsive" alt="Responsive image">
			<p>Nature</p>
		</div>
		
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/business" class="img-responsive" alt="Responsive image">
		  	<p>Business</p>
		</div>
		  		
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/nightlife" class="img-responsive" alt="Responsive image">
		  	<p>Nightlife</p>
		</div>	  	
	</div>

	<div class="row">
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/sport" class="img-responsive" alt="Responsive image">
			<p>Sports</p>
		</div>
		
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/cats" class="img-responsive" alt="Responsive image">
		  	<p>Cats</p>
		</div>
		  		
		<div class="col-md-4">
			<img src="http://lorempixel.com/312/217/fashion" class="img-responsive" alt="Responsive image">
		  	<p>Fashion</p>
		</div>	  	
	</div>
		  


	
</div>
