<div class="jumbotron">
	<h1>Graphic Design</h1>
		<div class="row">
		<div class="col-md-8">
	<p> Our multi-disciplinary design studio provides clinical and creative services to St Vincents Health Australia, our campus; St Vincent’s Hospital Sydney, Sacred Heart Health Service, St Joseph’s Hospital, St Vincent’s Private Hospital Sydney,
Mater Hospital Sydney, St Vincent’s Clinic, Darlinghurst and four co-located research institutes (Victor Chang Cardiac Institute, Garvan Institute of Medical Research, O’Brien Institute, and St Vincent’s Institute of Medical Research.
</p>
<p>
Our broad understanding and first hand healthcare experience means we are able to confidently produce work that complies with guidelines as well as working within the constraints of a health budget.
</p>
<p>
Our services cover printed and digital communications including graphic design, illustration, logo design, website design, creative direction and print production.</p>
</div>
		<div class="col-md-4">
			<h2 >Who are we anyway?</h2>
			<h5><strong>MEET THE TEAM WHO BUILD THE SUCCESS</strong></h5>
			<small><p>We oversee the application of St Vincent’s Health Australia brand and guidelines internally and its use by external organisations.</p></small>
			<img src="http://svha.org.au/wp-content/uploads/2013/05/MAM_Crest_cmyk.jpg" height=150px; /" alt="..." class="img-circle">
			<blockquote class="pull-right">

			<p><strong> Common visual identity</strong></p>
			<p><em>St Vincent’s Health Australia group</em></p>
			</blockquote>


			
		</div>

	</div>
</div>
