<div class="jumbotron">
	<h1>Media Production</h1>
		<div class="row">
		<div class="col-md-8">
	<p> The video production team is comprised of highly skilled who understand the requirements and sensitivities of working with a healthcare environment. </p><p>
The media production team provide services to our campus; St Vincent’s Hospital Sydney, Sacred Heart Health Service, St Joseph’s Hospital, St Vincent’s Private Hospital Sydney, Mater Hospital Sydney, St Vincent’s Clinic, Darlinghurst </p>
<p>To contact a videographer, please call x0000 or contact;</p>
<address>
	<h3><strong>Noel Fisher</strong></h3>

  Medical Photographer<br>
  230 Barcom Ave, Darlinghurst NSW 2010<br>
  <abbr title="Phone">P:</abbr> (02) 8382 2133<br>
  E: <a href="mailto:nfisher@medicigraphics.com.au">nfisher@medicigraphics.com.au</a>

</address>

</div>
		<div class="col-md-4">
			<h2 >Who are we anyway?</h2>
			<h5><strong>MEET THE TEAM WHO BUILD THE SUCCESS</strong></h5>

			<small><p>We provide high quality videography for clinical elearing across the campus.</p>
  			
			</small>
			<img src="http://www.larkin.net.au/020_technology_images/029_digital_videography.jpg" height=150px; width=150px; /" alt="..." class="img-circle">
			<blockquote class="pull-right">

			<p><strong> Elearning Videography </strong></p>
			<p><em>We understand technologies.</em></p>
			</blockquote>


			
		</div>

	</div>
</div>
