<div class="jumbotron">
	<h1>Photography</h1>
		<div class="row">
		<div class="col-md-8">
	<p> The clinical photography team is comprised of highly skilled medical photographers (all possessing [Photography] degrees) who understand the requirements and sensitivities of working with a healthcare environment. </p><p>
The photographers provide services to our campus; St Vincent’s Hospital Sydney, Sacred Heart Health Service, St Joseph’s Hospital, St Vincent’s Private Hospital Sydney, Mater Hospital Sydney, St Vincent’s Clinic, Darlinghurst and four co-located research institutes (Victor Chang Cardiac Institute, Garvan Institute of Medical Research, O’Brien Institute, and St Vincent’s Institute of Medical Research.</p>
<p>To contact a clinical photographer, please call x0000 or contact;</p>
<address>
	<h3><strong>Will Cheung</strong></h3>

  Medical Photographer<br>
  230 Barcom Ave, Darlinghurst NSW 2010<br>
  <abbr title="Phone">P:</abbr> (02) 8382 2133<br>
  E: <a href="mailto:wcheung@medicigraphics.com.au">wcheung@medicigraphics.com.au</a>

</address>

</div>
		<div class="col-md-4">
			<h2 >Who are we anyway?</h2>
			<h5><strong>MEET THE TEAM WHO BUILD THE SUCCESS</strong></h5>

			<small><p>We provide high quality clinical images that are used for</p>
  				<small><blockquote >patient monitoring & medical records</blockquote></small>
  				<small><blockquote >teaching, research & publication</blockquote></small>
			</small>
			<img src="http://www.belmonthighlibrary.org/uploads/5/4/4/7/5447893/1171161_orig.jpg" height=150px; width=150px; /" alt="..." class="img-circle">
			<blockquote class="pull-right">

			<p><strong> Medical Photography </strong></p>
			<p><em>We understand environment.</em></p>
			</blockquote>


			
		</div>

	</div>
</div>
