<div class="jumbotron">
	<h1>Team</h1>
	<h2> WHO ARE WE ANYWAY?.</h2>
	<div class="row">
  	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt=".">
    	</a>
			<h3>Julie Murray</h3>

 	 	</div>
 	 	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt=".">
    	</a>
			<h3>Dan Forrest</h3>
 	 	</div>
 	 	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt=".">
    	</a>
			<h3>Daniel Rizal</h3>	
 	 	</div>
 	 	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt=".">
    	</a>
		<h3>Will Cheung</h3>
 	 	</div>
	</div>

	<div class="row">
  	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt=".">
    	</a>
			<h3>Noel Fisher</h3>
 	 	</div>
 	 	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt=".">
    	</a>
			<h3>Ken Vinckx</h3>
 	 	</div>
 	 	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt=".">
    	</a>
			<h3>Jeffery</h3>
 	 	</div>
 	 	<div class="col-sm-6 col-md-3">
    	<a href="#" class="thumbnail">
      	<img data-src="holder.js/100%x180" alt=".">
    	</a>
			<h3>Nikki Potent</h3>
 	 	</div>

	</div>

</div>
