  <footer>
    <div class="container">
    <h4><strong>Medici Graphics </strong></h4>
    <p><small>© 2013 All Rights Reserved. <em>Medici Graphics is part of <strong>St Vincents Health Australia</strong></em></small></p>

    </div> 
  </footer>
